:local(.title) {
  font-size: 20px;
  padding: 10px 15px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #D41919;
  font-family: 'Roboto', sans-serif;
}

:local(.request) {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #D41919;

  &:last-child {
    border: 0;
  }
}
