:local(.title) {
  color: #fff;
  letter-spacing: 1px;
  background-color: #D41919;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 34px;
  font-weight: 200;
  padding: 60px 0;
  background-image: url("./assets/ball-0.1.png");
  background-repeat: no-repeat;
}

:local(.requests) {
  padding: 20px;
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 159px);
  box-sizing: border-box;
}

.example-enter {
  opacity: 0.01;
  background-color: yellow;
  transform: translateY(20px);
}

.example-enter.example-enter-active {
  opacity: 1;
  background-color: #FFF;
  transform: translateY(0);
  transition: all 400ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: translateY(20px);
  transition: all 400ms ease-in;
}
