:local(.request) {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  padding: 15px;
  margin: 0 0 20px;
  cursor: pointer;
  display: flex;
  transition: .3s;
}

:local(.request):hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.24), 0 0 5px 0 rgba(0,0,0,.2);
}

:local(.content) {
  flex: 1;
}

:local(.header) {
  display: flex;
}

:local(.type),
:local(.date) {
  vertical-align: middle;
}

:local(.type) {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  flex-grow: 1;
}

:local(.date) {
  font-size: 14px;
  color: #a7a7a7;
  margin: 0 0 0 10px;
}

:local(.comment) {
  font-size: 14px;
  margin: 15px 0 0;
}

:local(.icon) {
  height: 30px;
  align-self: center;
  margin-left: 5px;
  margin-right: 20px;
}
