:local(.request) {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  padding: 15px;
  margin: 0 0 20px;
}

:local(.header) {
  display: flex;
}

:local(.type),
:local(.date) {
  vertical-align: middle;
}

:local(.type) {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  flex-grow: 1;
}

:local(.date) {
  font-size: 14px;
  color: #a7a7a7;
  margin: 0 0 0 10px;
}

:local(.comment) {
  font-size: 14px;
  margin: 15px 0 0;
}
